.login_id{
	font-size: 10px;
	color: #ffffff;
}
.login_pw{
	font-size: 10px;
	color: #ffffff;
}

.login_email{
	font-size: 10px;
	color: #ffffff;
}
.login_nick_name{
	font-size: 10px;
	color: #ffffff;
}
.login_company_name{
	font-size: 10px;
	color: #ffffff;
}
.login_company_num{
	font-size: 10px;
	color: #ffffff;
}
.login_phone_num{
	font-size: 10px;
	color: #ffffff;
}

.login_company_input_num{
	font-size: 8px;
	color: #ffffff;
}
.login_phone_input_num{
	font-size: 8px;
	color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
